*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman","Helvetica Neue", Arial, sans-serif;
}
.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}
