{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meme_Topia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <h2><u>Posts:</u></h2>
    {% for post in posts %}
    <div class="container">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ post.Img.url }}" alt="Post_Img">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">{{ post.Title }}<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{ post.Title }}<i class="material-icons right">close</i></span>
              <h4>Comments:</h4>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>